{% extends 'base.html' %}
{% block content %}

<div class="container is-max-desktop" >
    <div class="content has-text-centered">
    <h1><strong> Tabela de boias</strong></h1>
    <br>
    <table class='table is-bordered is-striped is-narrow is-hoverable'
    data-toggle="table"
    data-filter-control="true"
    data-show-search-clear-button="true"
    data-sortable="true"
    data-pagination="true"
    data-show-columns="true"
    data-show-columns-toggle-all="true"
    class="table-responsive"
    >
        <tr>
            {% for header in data_headings %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
        
        <tr>
            {% for row in data_values %}
            <tr>
                {% for cell in row %}
                {% if cell==row[0] %}
                <td><a href="{{cell}}">{{ cell }}</a></td>
                {% else %}
                <td>{{ cell }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            
        </tr>
    </table>
    </div>
</div>
    {% endblock %}
